:root {
  --size: 450px;
}

#clock {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  width: var(--size);
  height: var(--size);
  position: relative;
}

#sec-hand {
  width: 1px;
  height: 40%;
  background-color: black;
  transform-origin: 50% 80%;
  position: absolute;
  top: 18%;
  left: 50%;
}

#min-hand {
  width: 3px;
  height: 40%;
  background-color: black;
  transform-origin: 50% 80%;
  position: absolute;
  top: 18%;
  left: calc(50% - 1px);
}

#hr-hand {
  width: 5px;
  height: 25%;
  background-color: black;
  transform-origin: 50% 80%;
  position: absolute;
  top: 30%;
  left: calc(50% + -2px);
}
.i {
  margin: 30px 20px -25px -29px;
}
